@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.home-container {
  max-width: 1800px;
  margin: 0 auto;
}

.home-content {
  display: flex;
  gap: 1rem;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
