@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.header {
  @include flex($gap: 20px);
  position: fixed; // posicion para scroll
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 55px;
  padding: 0 20px;
  background-color: $bg-secondary;
  box-shadow: $shadow-md;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, $bg-transition;

  &--hidden {
    // Classname para ocultar el header al scrollear
    transform: translateY(-100%);
    box-shadow: none;
  }

  h1 {
    color: $primary-color;
    margin-bottom: 3px;
  }

  nav {
    @include flex($gap: 20px);

    ul {
      @include flex($gap: 10px);

      .link {
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color $transition-fast;

        &:hover {
          background-color: $primary-color-dark;
        }
      }
    }
  }

  // button para cambiar tema
  .theme-toggle {
    background: transparent;
    border: none;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: all $transition-fast;

    &:hover {
      background-color: $primary-color-light;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
