@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.header {
  height: 55px;
  padding: 0 20px;
  @include flex-center(20px);
  box-shadow: $shadow-md;

  h1 {
    color: $primary-color;
  }

  nav {
    @include flex-center(20px);

    ul {
      @include flex-center(10px);

      .link {
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color $transition-fast;

        &:hover {
          background-color: $primary-color-dark;
        }
      }
    }
  }

  .theme-toggle {
    background: transparent;
    border: none;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: all $transition-fast;

    &:hover {
      background-color: $primary-color-light;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
