@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.btn {
  @include basic-button();
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.75rem;
  color: $text-primary;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: $text-primary;

  @media (max-width: 768px) {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: $text-primary;

  @media (max-width: 768px) {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
  }
}
